.completed {
    text-decoration: line-through;
    color: gray
  }
  
  
  #app{
    padding: 10%;
  }

  body{
    width: 100%;
    font-family: '微軟正黑體';
    
    input[type="checkbox"] + label p{
        display:inline-block;
        cursor: pointer;
        margin: 0px 10px;
        letter-spacing: 1px;
        font-size: 12px;
      }  
  }
  
  .bg{
      height: 500px;
      border: 1px solid black;
      margin: 10px;
  }
  .contain{
    background: linear-gradient(50deg,rgba(242, 242, 242, 1) 0%, rgba(189, 181, 219, 1) 50%, rgba(148, 187, 233, 1) 100%);
    height: 100vh;

    @media screen and (max-width:768px) {
      background-image: url(https://images.pexels.com/photos/8985189/pexels-photo-8985189.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    }
    
    .top{
      text-align: center;
      h1{
          font-weight: bolder;
          letter-spacing: 0.3em;
        }
      .today{
        text-align: right;
        color: #00CACA;
        letter-spacing: 2px;
        font-size: 14px;
        padding-right: 10px;
        p{
          margin: 5px;
        }
      }
    }
    .form-check{
      input[type="checkbox"] {
        display:none;
      }
      
      input[type="checkbox"] + label span {
          display:inline-block;
          width: 30px;
          height:30px;
          margin: 0 15px 0 0;
          vertical-align:middle;
          background: url(https://www.svgrepo.com/show/309415/checkbox-unchecked.svg) top no-repeat;
          background-size: cover;
          cursor: pointer;
        }
        input[type="checkbox"]:checked + label span { 
          background:url(./image/check.svg)  top no-repeat;
          background-size: cover;
          border: none;
          border-radius: inherit;
        }
    }
    .normal,.sup{
      color: white
    }
    .card{
      opacity: 0.8 ;
    }
    .sortable1 .list-group-item {
      cursor: pointer;
    }
    .blue-background-class{
      opacity: .5;
      background: #ec9bad;
    }
    .fixed{
      .progress{
        margin-top: 5px;
      }
    }
  }
  
